<div class="page-header">
  <h1>Hello. Hand Drawn Comix</h1>
</div>


<div class="col-8 col-sm-8">
<div class="articles">

<img style="max-width: 100%;  height: auto; width: auto\9;" src="assets/css/Panel1.jpg">
<img style="max-width: 100%; height: auto; width: auto\9;" src="assets/css/Panel1.5.jpg">

<img style="max-width: 100%;  height: auto; width: auto\9;" src="assets/css/Panel2.jpg">

<img style="max-width: 100%;  height: auto; width: auto\9;" src="assets/css/Panel5.jpg">

<img style="max-width: 100%;  height: auto; width: auto\9;" src="assets/css/Panel6.jpg">
<img style="max-width: 100%;  height: auto; width: auto\9;" src="assets/css/Panel7.jpg">

</div>
</div>


<div class="col-4 col-sm-4">

<h3>INSTRAGRAM</h3>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/Instagram.jpeg">
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/Instagram-2.jpg">

</div>
