<div class="page-header">
  <h1>Hello, Unemployment</h1>
</div>

<div class="col-8 col-sm-8">
<div class="articles">

Bad economy. Unemployed graduate. Crippling debt. Sounds familiar? Perhaps have you lived through it yourself not so long ago.
Where were the opportunities at?
This is not uncommon. There are many stories out there about migrants or fresh graduates from prestigious colleges who cannot find a job. Many of the HR would blame it on inexperience or even worse, overqualification. But is it? You passed the hundreds of resume, got a few interviews, but it’s always an “almost but not quite” of an answer.  This situation is even worse for international students/ immigrants, whose visas would hinder then from being a candidate for a job simply because they might not be able to stay long enough. My shiny toaster looks brighter than the future of these kids.<br></br>
Before we answer “how to get a job”, we must first tackle the biggest elephant in the room.
<br></br>
<blockquote class="blockquote text-center">
  <p class="mb-0">“Why can’t I find a Job?”</p>
  <footer class="blockquote-footer">Pretty much everyone</footer>
</blockquote>


College education is not mandatory in this era. The truth is, most what we learn in college is all about concepts, while on-the-job training focuses on application in the real world. For HR managers, it is more attractive and employable when a candidate shows enough knowledge and transform it into action.  It’s the dreaded catch-22 situation, in which because of your lack of experience, no company will hire you. But how will you gain experience, if companies won’t take a chance?  It’s a vicious cycle. But rest assured, it’s a cycle that can be broken.

<h2>
Ways to get a Job (As an immigrant / Fresh Graduate)</h2>

<h2 style="color:#069">Apply to Graduate Programs</h2><br>
9 out of 10 chance is that your school has partnered with a handful industries. These industries will come once a year to your college to find recent graduates where they can mentor and train under their company. For each company, the duration of the training varies. (And yes, it is paid usually) But this is not a guaranteed safety net since there are so many new graduates and only a number of jobs. A good portfolio might help increase the odds in these situations.

<a href="https://www.premiumgraduate.com.au/host-company/"><h2 style="color:#069">Apply to Job Placements</h2></a><br>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/placement.png">
Job placements or graduate placements is a program in which puts you through a 12 week training of your field. In short, this is an internship opportunity which may open doors to you.  In this program, you need to pay a fee to gain the “Australian Experience” people are so raving about, and have yourself learn from the best of industry standards. More often, this kind of program is catered to international students or immigrants who have very low chance in getting hired. This program might give you a leg up amongst your competitors...but at a price.

<h2 style="color:#069">Building Connections</h2><br>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/meetup.png">
It’s is easy to throw in big words like networking. Digital interactive networking like Linkdin does help expose yourself to the professional world. But in order to bring about a wider reach of audience, real connections is encouraged. A great app called Meetup can help you build the bridge you need. This app brings together likeminded people with similar interest or professionals in similar field alike through weekly meetings. It is not unusual to meet your mentor or your lifelong BFF. Make friends, and ask around if the

<h2 style="color:#069">Creating Portfolio</h2><br>
This could come in many ways, like searching for an online job in Upwork or volunteering. Snagging a client is not easy, especially online where your competitors includes people from all over the world. And let’s get real here, Upwork run on a bidding system, which means employeers have a pool of candidates to choose from who’s willing to work at the lowest price.  Everything will come as a building foundation to your skills. Volunteering is more tricky; this require balls of steel to put yourself out there and offer your services to companies via email or from connections in Meetup (download the app).


</div>
</div>
<div class="col-4 col-sm-4">
<h3>INSTRAGRAM</h3>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/Instagram.jpeg">
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/Instagram-2.jpg">

</div>
