<div class="page-header">
  <h1>Hello from home.</h1>
</div>


<h3>THE BEGINNINGS</h3>
<div class="row">


<div class="col-8 col-sm-8">
<img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/index-where.jpg"></div>
</h3>


<div class="col-4 col-sm-4">
<a href="/findingwork"><img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;"  src="assets/css/index-abroad.jpg"></a>
<a href="/startup"><img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/index-selling.jpg"></a>
</div>


</div>



<div class="box-title-wrapper "><style>#bxtitle_1550876278.box-title.box-title-line-middle .title-bar:after,
    #bxtitle_1550876278.box-title.box-title-line-middle .title-bar:before,
    #bxtitle_1550876278.box-title.box-title-line-around .title-bar:after,
    #bxtitle_1550876278.box-title.box-title-line-around .title-bar:before,
    #bxtitle_1550876278.box-title.box-title-line-around h2{
border-color: #ed2665    }</style><div id="bxtitle_1550876278" class="box-title box-title-text-center box-title-line-around wrap-title " data-delay="0"><div class="title-bar"><h2 style="font-size: 23px;"> MY PORTFOLIO</h2></div></div></div>

<div class="container">

  <div class="row">
    <div class="col-lg-4 m-b-lg">
    <img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/index-TW.jpg"">
    <span class="content">TRAVEL</span>
    <div class="my_hometextsub"><a href="/taiwantravel">An Map of Lesser Known Tourist Spots in Taiwan</a></div>
    </div>

    <div class="col-lg-4 m-b-lg">
    <img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/index-lost.jpg"">
    <span class="content">SELF-HELP</span>
    <div class="my_hometextsub">  <a href="/lost">Ways to Regain your Sense of Purpose</a></div>

    </div>

    <div class="col-lg-4 m-b-lg">
    <img style="max-width: 100%; padding-top: 5%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/index-spa.jpg"">
    <span class="content">PRODUCT REVIEW</span>
    <div class="my_hometextsub"><a href="/spa">Products You Should Take Home for Spa Day</a></div>
    </div>
  </div>

</div>
