<div class="page-header">
  <h1>Hello. You'll be Okay</h1>
</div>

<div class="col-8 col-sm-8">
<div class="articles">


  There’s this unspoken pressure in find a good job and settling once we hit adulthood. In our society where we are expected to hit success and money at a certain age, chasing dreams is no longer anyone’s priority. During our 20’s, we make our own choices without any supervision. There’s so much things I wanted to do. I wanted to write stories. I wanted to own an online business. I wanted to immigrate to a land of snow and ice. I wanted to have a successful Youtube channel. I know, kids’ dreams. But my mind is just in flux and chaotic, my goals are constantly changing.
  And in this time, suspended between childhood and adulthood, I find myself second guessing my every decision.
<br></br>
  <blockquote class="blockquote text-center">
    <p class="mb-0">“Where should I start? What if I fail?”<br></br>
“Should I publish this? Oh my god…what if everyone hates it?”<br></br>
“What if I wasted my time and effort into something that doesn’t work?”<br></br>
    </p>
  </blockquote>

The future is a tricky thing. Every step is rife with uncertainties. Working hard doesn’t guarantee success. It takes a mix of luck, timing, connections, and skill to have your aspiration take off. A goal is nothing but a dream if there is no action to back it up.

To all future readers who shares similar anxieties (and to the current me who is wading through), here’s a letter of comfort and advice:



<h2 style="color:#069">Start Now</h2><br>
It starts with one decision – commit to yourself. If you have many goals, choose one and focus all your energy on it. The weight of creating something new is immense. First thing that will come to mind is fear – fear of the unknown and judgement. Fear means you care, and too much so might be crippling.
So take one deep breath, one small step and start on the process. Whether outcome is terrible or not, what matters is here and now. Enjoy the time you that you are working on your secret project as “Project You”.  Nurture it. Because what you feel will affect the result.
And when you stop thinking about failures, you’ll be much happier and productive in getting closer to your goal.


<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/vision.jpg">


<h2 style="color:#069">Own Voice</h2><br>

The path to success is a lonely road. There will be many people judging you, throwing advice to you, waiting for you to fail or even stop you from pursuing your passion. Hence, it is advice to have faith in yourself. Listen to your own voice. You may feel insecure and emotionally empty from giving your all in a project or an idea, only to have you yourself criticize your very own work! Stop it!
Nothing and no one is perfect. Lack of confidence can be as self-destructive as too much arrogance, and the only way to stop that is to accept yourself. Your voice, thoughts, and ideas are your own manifestation on a plate - raw and different and pure. Refine your work and let it go.

<h2 style="color:#069">Coping w/ Failures</h2><br>
It is not uncommon to spiral into a pit of self-deprecation once you get a negative outcome. You will subconsciously compare yourself to someone more successful and beat yourself into depression. You might even lapse into an exsistential crisis.
<br></br>  <blockquote class="blockquote text-center">“Will I ever be good enough?”  </blockquote>
In this case, you will need a win. Learn something new. Talk to like-minded people. If you don’t have any friends or a support group, I suggest on reading up on ‘failure stories’ of successful people. You are not alone. Many people came before you and have faced failures countless times before succeeding. It just take a win to make all the pain worthwhile.


</div>
</div>

<div class="col-4 col-sm-4">

<h3>INSTRAGRAM</h3>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/Instagram.jpeg">
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/Instagram-2.jpg">

</div>
