<div class="page-header">
  <h1>Hello to Pampered Skin</h1>
</div>

<div class="col-8 col-sm-8">
<div class="articles">




<h2 style="color:#069">Rejuvenating Body Scrub with Kape Scrub</h2><br>
Step out of the shower smelling like your local Starbucks shop!
Combined with essensial oils, honey, brown sugar, and organic coffee, this exfoliating body works minimizing stretch marks and detoxify your skin from clogged pores. The ground coffee helps renew your skin and removes dirt, while the raw honey extracts keeps the moisture around your skin.
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/kape-scrub.png">


<h2 style="color:#069">Soothing Eye Treatment with Fresh!</h2><br>
Don’t neglect those dark bags under your eyes. This cool eye gel filled with sea minerals and wheat extract calms the puffiness of your bags. Made up of ingredients like hydrating kelp, this gel can smoothen slight cracks in the skin with nightly use. Perfect way to wake up with a subtle glow in your eye.
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/fresh.png">


<h2 style="color:#069">Facial Mask</h2><br>
Who needs a 10 step skincare routine, when you have a facial mask that is as good as a toner and serum combined. Rejuvinate your skin with this favorite Taiwanese Cult brand! Formulated with all kinds of herb extracts and amino acids, this mask is known for its anti-aging properties and its defense against wrinkles in your face. Perfect way to renew your skin’s gorgeous glow.
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/facial-mask.jpg">


<h2 style="color:#069">Evening Moisturizer with H20+</h2><br>
Protect yourself against dehydration with this water-based moisturizer. Compatible with all skin types, this gel-like substrance absourbs easily into your skin, guaranteed a dose of cool shower for your parched skin. Non-oily and perfectly lightweight, this keeps your face tender without the excess shine!
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/h20.jpg">

<h2 style="color:#069">Foot Soak with Human Nature's Sunflower Oil </h2><br>
Melt away your stress with your own sunflower foot spa. Just a few drops of sunflower oil is enough to turn your room into a floral garden. Aside from the gentle smell, sunflower essence have the ability to speed up the healing process of your tired feet, leaving your body energized and refreshed. Great way to unwind and relax with warm soak after a long day.
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/sunflower-oul.jpg">

</div>
</div>

<div class="col-4 col-sm-4">

<h3>INSTRAGRAM</h3>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/Instagram.jpeg">
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/Instagram-2.jpg">

</div>
