<div class="page-header">
  <h1>Hello from Business Section</h1>
</div>

<div class="col-8 col-sm-8">
<div class="articles">

Shoppee and Amazon is a popular platform to get your products out to the world. With over xxxxx of traffic in and out, you have the whole world as your potential buyers and competitors. In an over saturated market, quality products are not enough; it is necessary for your products to stand out. You need to have the mindset that the e-commerce platform is your real-life retail shop and imagine it as such.



<h2 style="color:#069">Get Instagrammable Photos</h2><br>
What image are you trying to convey? Is your product good for high-end consumers? Or is your products catered for the trendy teens? Each photo must have a personality, regardless of its purpose of catching attention or showing details. It is essential to have a cover photo that retains interest. Think of colors. Do you need to go for a classic black and white combination? Or pastel and vibrant for the trendy teens? If you are a beginner, I suggest you look into samples of other products and check the color palettes they uses.

<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/palette.png">


<h2 style="color:#069">Checking Top Products</h2><br>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/filadisruptor.png">
In many e-commerce platforms, you can see the featured products (“Daily Discover”) and its details. This will give you an idea on how much demand for a product is, how it is presented, and how much the market is selling it for. A good way to set your product pricing is you get the average of your competitors products and lower the price a bit. I can 100% say that in order for a product to gain momentum, it needs to be: 1.) the  cheapest option or 2.) in a niche market

<h2 style="color:#069">Set Good Deals</h2><br>
Th foundation in starting a business is knowing how to sell and to receive payments. Setting the price should be part of the strategy because it is one of the things people first look at. You need to learn how and when to set the discounts. Having too low of value will make your product look cheap, but putting a “limited time” discount would have the feel of it being a bargain and urge the people to buy.

<h2 style="color:#069">Devil In the Details</h2><br>

Now, people will ask questions. A lot of it. As to save time and effort, you need to put a full product description, along with dimensions, texture, material and so forth. This job is tedious. Not only you need to write down the product details, you need market it at the same time. Stress on the words on how the item is used, the benefits of it for, and the quality of it. Magazine ads employ this technique, and it works!


</div>
</div>

<div class="col-4 col-sm-4">
<h3>INSTRAGRAM</h3>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/Instagram.jpeg">
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/Instagram-2.jpg">

</div>
