<div class="page-header">
  <h1>Hello from Taiwan.</h1>
</div>


<div class="col-8 col-sm-8">


<div class="articles">

  Taiwan is a destination meant for travelers. Famous for the vibrant town of Juifen to the luxurious city of Taipei, there are many sights to see and foods to eat. We have all heard of the vibrant night markets, the quiet temples, the romantic lanterns that brings old streets to life. But to truly explore Taiwan, come check out these hidden attractions and satisfy your wanderlust.
<br><br>

  <h2 style="color:#069">#1	Selfie in Jimmy Park</h2><br>

  <img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/yilan.jpg">
  How would you imagine yourself with storybook characters come to life? Prepare your inner child because this park exists just for that. Built from an old dormitory, it has been renovated and transformed into a park filled with cute character statue to commemorate Yilan’s very own famous storyteller. Start walking from the Happy Station platform, and immerse yourself fully in local Taiwanese tale. Capture this moment and let it be part of your story.

<br><br>

  <h2 style="color:#069"> #2	Marmalade Madness </h2><br>
  <img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/testing.png">
  Taiwan is known for it’s small factories, open for tourist to buy the products while seeing it in production. One stand out contender is this eye-candy of a market. As I stepped into the shop, the warm glow from the homemade jams reminds me of home. There is a sweet tangerine smell in the air that is light and delicate, consistent with the taste of their products. To complete the factory trip, you can opt to sit in this workshop and learn how to make your own marmalade.


<br><br>
  <h2 style="color:#069">#3	Temple At the Top</h2><br>
  <img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/seashell.png">
  Taiwan pride itself for its mountain-like terrain.
  This tiny island thus has paved hiking trails that are easily accessible for one to
  climb to the peak of the mountain or just reach down the far offshore. But today, this beautiful temple made from seashells
  is the star. Built by an eccentric retired fisherman after he had a "divine vision" from the seafolk. This temple
  is considered an oddity for the locals, but nevertheless, a wonderful exhibit.
  (This is suitable for people who loves outdoors)

<br><br>
  <h2 style="color:#069"> #4	Love Mountain Sheeps</h2><br>
  <img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/goats.png">
  Enclosed at the top of the mountain is a huge acre of lush pasture, surrounded by grand castles with winding pathways and an amazing view. Go further down the hill and you’ll see shops and ofcourse, mountain sheep chilling in groups. These beautiful creatures are friendly and hungry! You can pet them, feed them, have selfies! So make sure you buy those “food pellets” in the vending machines before it runs out. Experience nature at its finest.


<br><br>
  <h2 style="color:#069">#5	Get lost in Alleys</h2><br>
  <img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/alley.png">
  Take a chance in walking along quiet streets and alleys and be pleasantly surprised with what it can offer. Often tucked between steep and narrow buildings are homey café shops and retro libraries, just waiting to be found. Just follow the graffiti and you’ll find yourself in sitting in the  underground haven for bookworms. Drink in one hand, book in another – perfect way to spend the afternoon.

<br><br>
<h2 style="color:#069">  #6	Have a photoshoot</h2><br>
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/bythebay.png">
  A walk along the vibrant seaside is a classic destination. Go there for the sunrise or sunset, the smell of baked bread or salty ocean, for the fitness or for leisure. Either way, it is a place catered for all. Hip and trendy cafes and cute souvenir shops are in abundance, and surely you will not run out of backdrops for a great photoshoot! With even time to spare, you may opt to check out the street musician or even students do an impromptu piece of music.

<br><br>
  <h2 style="color:#069">#7	Attend an Fair/ Expo</h2><br>
    <img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/expo.png">
  Up your shopping experience by going to an mini fair or expo! It is not as exclusive as many think. In the area of -, there are multiple expo that happens every month. It is a chance to what’s in the market and know a bit of the local shops. Perhaps you might be able to snag a great bargain! Usually these pop-ups are open for 3 days, so best to keep your eyes peeled.


</div>

</div>


<div class="col-4 col-sm-4">
<h3 style="color:#069">INSTRAGRAM</h3>

<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/Instagram.jpeg">
<img style="max-width: 100%; padding-bottom: 5%; height: auto; width: auto\9;" src="assets/css/Instagram-2.jpg">

</div>
